/*
Theme Name: Renden eMagazine
Text Domain: renden-emagazine
Template: renden
Version: 1.0.1
Requires at least: 5.0
Tested up to: 5.7
Requires PHP: 5.6
Description: Renden eMagazine is the free version of the multi-purpose professional theme (Renden Pro) ideal for a business or blog website. The theme has a responsive layout, HD retina ready and comes with a powerful theme options panel with can be used to make awesome changes without touching any code. The theme also comes with a full width easy to use slider. Easily add a logo to your site and create a beautiful homepage using the built-in homepage layout. Compatible with WooCommerce, WPML, Polylang, Flat Parallax Slider, Photo Gallery and Travel Map, Elementor, Page Builder, Beaver Builder, Visual Composer, SiteOrigin, Divi, etc. It's a perfect theme for small businesses (restaurants, wedding planners, sport/medical shops), startups, corporate businesses, online agencies and firms, portfolios, ecommerce (WooCommerce), and freelancers.
Tags: one-column, two-columns, three-columns, right-sidebar, left-sidebar, custom-header, custom-menu, full-width-template, theme-options, threaded-comments, editor-style, featured-images, featured-image-header, post-formats, sticky-post, translation-ready, flexible-header, custom-background, grid-layout, footer-widgets, blog, e-commerce, portfolio, rtl-language-support
Author: Think Up Themes
Author URI: https://www.thinkupthemes.com
Theme URI: https://www.thinkupthemes.com/free/renden/
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
*/

/* Pre Header Style */
#pre-header {
	background-color: #1e1e1e;
}
#pre-header .header-links > ul > li:before {
	color: #fff;
}
#pre-header .header-links li a,
#pre-header-social li,
#pre-header-social li a {
	color: #fff;
}
#pre-header .header-links .menu-hover > a,
#pre-header .header-links > ul > li > a:hover {
	background-color: #1e1e1e;
	color: #e0484c;
}
#pre-header .header-links .sub-menu {
	border-top: none;
	background-color: #f7f7f7;
}
#pre-header .header-links .sub-menu a {
	color: #4a4a4a;
	border-bottom: 1px solid #e7e7e7;
	padding: 5px 15px;
	margin: 0px 15px;
}
#pre-header .header-links .sub-menu li:last-child a {
	border-bottom: none;
}
.main-navigation .sub-menu .sub-menu {
	top: 0px;
	border-left: 1px solid #e7e7e7;
}
#pre-header-social li {
	border-left: 1px solid #3e3e3e;
}
#pre-header-social li:last-child {
	border-right: 1px solid #3e3e3e;
}
#pre-header-social li a:hover {
	color: #e0484c;
	background-color: #1e1e1e!important;
}

/* Header Style */
#header .header-links > ul > li a,
#header-sticky .header-links > ul > li a{
	text-transform: uppercase;
	font-weight: 600;
}
#header .header-links .sub-menu,
#header-sticky .header-links .sub-menu {
	border-top: none;
	border-bottom: none;
	background-color: #f7f7f7;
}
#header .header-links .sub-menu .sub-menu,
#header-sticky .header-links .sub-menu .sub-menu {
	border-left: 1px solid #e7e7e7;
	border-bottom: none!important;
}
#header .sub-menu li,
#header-sticky .sub-menu li {
	border-right: none;
	border-left: none;
}
#header .header-links > ul > li a,
#header-sticky .header-links > ul > li a {
	position: relative;
}
#header .menu > li.menu-hover > a:after,
#header .menu > li.current_page_item > a:after,
#header .menu > li.current-menu-ancestor > a:after,
#header-sticky .menu > li.menu-hover > a:after,
#header-sticky .menu > li.current_page_item > a:after,
#header-sticky .menu > li.current-menu-ancestor > a:after{
	width: 70%;
	height: 2px;
	background-color: #e0484c;
	content: '';
	position: absolute;
	left: 15%;
	bottom: 30px;
}
#header .header-links .sub-menu a,
#header-sticky .header-links .sub-menu a {
	color: #4a4a4a;
	border-bottom: 1px solid #e7e7e7;
	text-transform: capitalize;
}
#header .header-links .sub-menu li:last-child a,
#header-sticky .header-links .sub-menu li:last-child a {
	border-bottom: none;
}
#header-search .fa-search {
	background-color: #f7f7f7;
	color: #4a4a4a;
	transition: all 0.3s;
}
#header-search .fa-search:hover {
	opacity: 0.75;
}

/* Cta Style */
#introaction,
#outroaction {
	border-top: 2px solid #e0484c;
	padding: 30px 0px;
	background-color: #f7f7f7;
}
#introaction-core,
#outroaction-core {
	padding: 45px;
}
#introaction-core .two_third,
#outroaction-core .two_third,
#introaction-core .one_third,
#outroaction-core .one_third {
	margin: 0;
	float: none;
	text-align: center;
	width: 100%;
}
.action-link a {
	margin-top: 20px;
	background-color: #1e1e1e;
	border: none;
	color: #fff;
	font-weight: 700;
	border-radius: 25px;
	width: auto;
	padding: 8px 20px;
}
.action-link a:hover {
	background-color: #e0484c;
	color: #fff;
	opacity: 1;
}
.action-text h3 {
	text-transform: uppercase;
	margin-bottom: 20px;
}
.action-teaser p {
	line-height: 24px;
}

/* Featured Style */
#section-home .section {
	border: none;
	background-color: #fff;
	border: 1px solid #eee;
}
#section-home .entry-content {
	padding: 20px 20px 10px 20px;
	color: #7a7a7a;
}
#section-home h3 {
	margin-bottom: 15px;
	color: #1e1e1e;
}
#section-home .more-link {
	margin-top: 0px;
	display: inline-block;
	background-color: #1e1e1e;
	border: none;
	color: #fff;
	font-weight: 700;
	border-radius: 25px;
	padding: 8px 25px;
	text-transform: uppercase;
}
#section-home .more-link:hover {
	opacity: 1;
	background-color: #e0484c;
	color: #fff;
}

/* Footer Style */
#footer {
	border-top: 2px solid #e0484c;
	background-color: #f7f7f7;
	padding: 60px 0px;
}
#footer-core h3 {
	font-weight: 600;
	color: #1e1e1e;
	margin-bottom: 30px;
}
#footer .widget li a {
	color: #7a7a7a;
	text-decoration: none;
	font-size: 13px;
}
#footer .widget li a:hover {
	color: #e0484c;
}
#footer .widget li a:before {
	display: none;
}
#footer .widget li span {
	display: block;
	font-size: 12px;	
	color: #aaa;
}
#footer .widget_recent_entries li,
#footer .widget_recent_comments li {
	margin-bottom: 10px;
}
#footer .widget li:last-child {
	margin-bottom: 0px;
}
#footer .widget_search .search {
	background-color: #f7f7f7;
	border: 1px solid #e7e7e7;
	border-radius: 0px;
}
#footer .widget_tag_cloud a {
	background-color: #f7f7f7;
	border: 1px solid #e7e7e7;
	color: #7a7a7a;
	font-weight: 400;
	border-radius: 0px;
	font-size: 13px;
}
#footer .widget_tag_cloud a:hover {
	background-color: #e0484c;
	border-color: #e0484c;
	color: #fff;
}

/* Sub Footer Style */
#sub-footer {
	background-color: #1e1e1e;
	color: #fff;
}
#sub-footer a {
	color: #fff;
	text-decoration: none;
}
#sub-footer a:hover {
	color: #e0484c;
}
#footer-menu li:after {
	display: none;
}

/* Page Heading Style */
#intro {
	background-image: url(../renden_robertimeri/heading-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#intro .page-title {
	font-size: 36px;
	font-weight: 900;
	color: #1e1e1e;
}
#intro.option2 .page-title {
	width: 100%;
	text-align: center;
	display: inline-block;
}
#intro.option2 #breadcrumbs {
	display: inline-block;
	width: 100%;
}
#intro #breadcrumbs-core {
	text-align: center;
	color: #1e1e1e;
}

/* Blog Posts Style */
.blog-style2 #content {
	background-color: #fff;
}
.blog-article.sticky {
	border-bottom: 1px solid #ddd;
}
.blog-article.sticky .entry-content {
	background-color: transparent;
	color: #7a7a7a;
	padding: 0px;
}
.blog-article .blog-title {
	position: relative;
	padding-bottom: 12px;
}
.blog-article .blog-title:after {
	width: 60px;
	height: 1px;
	background-color: #eee;
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
}
.blog-article .blog-title a,
.blog-article .entry-content {
	color: #1e1e1e;
}
.blog-article {
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	margin-top: 10px;
	position: relative;
	z-index: 11;
}
.blog-style2 .blog-article {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid #ddd;
	background-color: transparent;
}
.blog-style2 .blog-article .entry-content {
	padding: 0px;
	background-color: transparent;
}
.blog-article .entry-meta a {
	font-weight: 400;
	color: #4a4a4a;
	text-transform: capitalize;
}
.blog-article .entry-meta a:after {
	content: '/';
	margin-left: 8px;
}
.blog-article .entry-meta a:last-child::after {
	display: none;
	margin-left: 0px;
}
.blog-article .entry-meta i {
	color: #4a4a4a;
}
.blog-article .entry-meta a:hover {
	opacity: 0.75;
}
.blog-article .entry-meta > span:before {
	display: none;
}
.blog-article .more-link a {
	margin-top: 0px;
	margin-bottom: 30px;
	display: inline-block;
	background-color: #1e1e1e;
	border: none;
	color: #fff;
	font-weight: 700;
	border-radius: 25px;
	text-transform: uppercase;
}
.blog-article .more-link a:hover {
	opacity: 1;
	background-color: #e0484c;
	color: #fff;
}
.blog-article .more-link {
	padding-top: 0px;
}
.blog-article p.more-link {
	margin-bottom: 0px;
}

/* Blog Page Navigation Style */
.navigation.pagination .nav-links a,
.navigation.pagination .nav-links span {
	border: none;
	background-color: #1e1e1e;
	color: #fff;
	font-weight: 700;
	border-radius: 50%;
	text-decoration: none !important;
}

.navigation.pagination .nav-links a:hover,
.navigation.pagination .nav-links a.current,
.navigation.pagination .nav-links span:hover,
.navigation.pagination .nav-links span.current {
	background-color: #e0484c;
	color: #fff;
	border: none;
}

/* Sidebar Style */
#sidebar {
	margin-top: 10px;
}
#sidebar .widget_search .search {
	border: 1px solid #eee;
}
#sidebar h3.widget-title {
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 700;
	color: #e0484c;
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin-bottom: -10px;
	padding-bottom: 30px;
}
#sidebar h3.widget-title:after {
	width: 80px;
	height: 1px;
	background-color: #eee;
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: 18px;
	content: '';
}
#sidebar h3.widget-title span {
	display: block;
}
#sidebar .widget {
	margin-bottom: 50px;
}
#sidebar .widget_recent_entries li a:before {
	display: none;
}
#sidebar .widget li span {
	display: block;
	font-weight: 600;
	color: #aaa;
}
#sidebar .widget_recent_entries li,
#sidebar .widget_recent_comments li,
#sidebar ul li {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
}
#sidebar .widget li:last-child {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}
#sidebar .widget li a {
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
	color: #232323
}
#sidebar .widget li a:hover {
	color: #e0484c;
}
#sidebar .widget_tag_cloud a {
	background-color: transparent;
	border: 1px solid #e7e7e7;
	color: #7a7a7a;
	font-weight: 400;
	border-radius: 0px;
	font-size: 13px;
}
#sidebar .widget_tag_cloud a:hover {
	background-color: #e0484c;
	border-color: #e0484c;
	color: #fff;
}

/* Single Post Style */
.single .entry-content {
	color: #4a4a4a;
}
.single .post-title {
	color: #1e1e1e;
	position: relative;
	padding-bottom: 15px;
}
.single .post-title:after {
	width: 60px;
	height: 1px;
	background-color: #eee;
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
}
.single .entry-meta,
.single .entry-meta a,
.single .entry-header.comment-icon .comment a {
	font-weight: 400;
	text-decoration: none !important;
	color: #7a7a7a;
	text-transform: capitalize;
}
.single .entry-header.comment-icon {
	padding-left: 0px;
}
.single .entry-meta a:hover {
	opacity: 0.75;
}
.single .entry-header.comment-icon .comment {
	position: relative;
}
.single .entry-header.comment-icon .comment .comment-text {
	display: inline-block;
}
.single .entry-header.comment-icon .fa-comments {
	display: inline;
	color: #232323;
	border: none;
	padding-right: 5px;
}
.single .entry-header.comment-icon .comment:before {
    color: #999;
    content: "/";
    margin-right: 10px;
}
.single .entry-header.comment-icon .fa-comments:hover {
	border: none;
}
.single .entry-header {
	border-bottom: none;
}
.nav-previous a,
.nav-next a {
	background-color: #1e1e1e;
	border: none;
	color: #fff;
	text-decoration: none !important;
	font-weight: 700;
	border-radius: 22px;
	text-transform: uppercase;
}
.nav-previous a:hover,
.nav-next a:hover {
	opacity: 1;
	background-color: #e0484c;
}

/* Comments & Leave Comment Style */
#comments-title h3,
#reply-title {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	color: #e0484c;
	position: relative;
	padding-bottom: 40px;
	margin-bottom: 10px;
}
#comments-title h3:after,
#reply-title:after {
	width: 60px;
	height: 1px;
	background-color: #eee;
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: 18px;
	content: '';
}
.commentlist article {
	color: #1e1e1e;
	background-color: transparent;
	padding: 0px;
}
.comment-meta a {
	color: #7a7a7a;
	text-decoration: none !important;
}
.comment-author a,
.comment-author h4 {
	color: #1e1e1e;
	font-weight: 700;
	text-transform: capitalize;
	text-decoration: none !important;
}
.comment .reply a {
	color: #e0484c;
	font-weight: 700;
	text-decoration: none !important;
}
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6 {
	color: #1e1e1e;
}
code, pre, pre h2 {
	color: #7a7a7a!important;
}
#commentform #comment,
#commentform input[type="text"] {
	border: 1px solid #eee;
	border-radius: 0px;
}
.logged-in-as a {
	font-weight: 700;
}
.themebutton,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #1e1e1e;
	color: #fff;
	font-weight: 700!important;
	border-radius: 20px;
	border: none;
	padding: 8px 25px;
	text-transform: uppercase;
}
.themebutton:hover,
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	opacity: 1;
	color: #fff;
	background-color: #e0484c;
}
