/*
Theme Name: Own Store
Theme URI: https://www.spiraclethemes.com/own-store-free-wordpress-theme/
Author: Spiracle Themes
Author URI: https://www.spiraclethemes.com
Description: Own Store is an easy and customizable WooCommerce WordPress theme. A complete solution for your ecommerce project including customized cart and checkout pages. You can use this theme for your ecommerce projects with ease, best fit for the Furnitures, Clothing, Gaming, Groceries, Electronics, Tech Stores etc. Own Store is compatible with both the WooCommerce GUTENBERG blocks and ELEMENTOR page builder. Theme is SEO friendly, RTL Ready and TRANSLATION ready too. Discover more by using this time in your projects and don't forget to read the DOCUMENTATION first. Our team is also ready to answer all of your SUPPORT questions. More Info here:  https://www.spiraclethemes.com/own-store-free-wordpress-theme/ 
Version: 1.0.2
Template: own-shop
Tested up to: 5.8
Requires PHP: 5.6
Requires at least: 4.7
Tags: e-commerce, blog, custom-colors, sticky-post, one-column, custom-logo, custom-menu, entertainment, featured-images, full-width-template, left-sidebar, right-sidebar, rtl-language-support, theme-options, threaded-comments, translation-ready, two-columns, footer-widgets
License: GNU General Public License v3
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Text Domain: own-store
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


/**
====================================================================
  General
====================================================================
*/

body, html {
    font-family: 'Red Hat Display', sans-serif;
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    margin-bottom: 15px !important;
}

h4 {
    font-size: 20px;
}

p {
    margin: 0 0 0.5em;
}

strong {
    font-weight: 500;
}

.os-container {
    position: inherit;
}


/**
====================================================================
  Category Menu
====================================================================
*/

.header-product-menu {
    float: right;
}

.category-menu .custom-menu > li {
    position: relative;
    display: inline-block;
    padding: 0;
}

.category-menu .custom-menu > li.dropdown:hover > ul, 
.category-menu .custom-menu > li.dropdown:focus-within > ul {
    opacity: 1;
    top: 100%;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.category-menu .custom-menu .dropdown:hover > ul, 
.category-menu .custom-menu .dropdown:focus-within > ul {
    display: block;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.header-product-custom-menu .first-level {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

.header-inner .col-md-3,
.header-inner .col-md-9 {
    padding: 0
}

.custom-menu-wrapper {
    background: #333;
    color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.custom-menu-wrapper button.navbar-toggle, 
.custom-menu-wrapper button.navbar-toggle:hover {
    background: #fff;
    box-shadow: none;
    float: left;
    margin-top: 15px;
}

.custom-menu-wrapper button.navbar-toggle span {
    color: #fff;
}

.custom-menu-wrapper a.title > i {
    padding-left: 25px;
    padding-right: 15px;
    font-size: 18px;
}

.header-product-custom-menu .navbar-collapse.collapse {
    display: none !important;
    z-index: 0;
}

.header-product-custom-menu .collapse.in {
    display: block !important;
    z-index: 1;
}

.custom-menu-wrapper .navbar-toggle {
    display: inline-block !important;
    float: none;
}

.custom-menu-wrapper .navbar-toggle.collapsed i.la-chevron-up {
    display: none;
}

.custom-menu-wrapper .navbar-toggle.collapsed i.la-chevron-down {
    display: block;
}

.custom-menu-wrapper .navbar-toggle i.la-chevron-up {
    display: block;
}

.custom-menu-wrapper .navbar-toggle i.la-chevron-down {
    display: none;
}

.header-product-custom-menu ul li {
    border-bottom: 2px solid #f3f3f3;
    font-size: 14px;
    cursor: pointer;
}

.header-product-custom-menu ul li:hover {
    background: #f6f6f6;
}

.header-product-custom-menu ul li a {
    color: #000;
    padding: 20px 25px;
    width: 100%;
}

.header-product-custom-menu ul li a .caret {
    border: none;
}

.header-product-custom-menu ul.category-custom > li > a .caret:before {
    font-family: "Line Awesome Free";
    content: "\f054";
    font-weight: 900;
    font-size: 12px;
    position: absolute;
    left: 8%;
    top: 30%;
}

.header-product-custom-menu ul.category-custom > li:hover > a .caret:before {
    font-family: "Line Awesome Free";
    content: "\f053";
    font-weight: 900;
    font-size: 12px;
    position: absolute;
    left: 8%;
    top: 30%;
}

.header-product-custom-menu .dropdown-menu span.caret {
    display: block;
}

.header-product-custom-menu ul li ul li a span.caret:before {
    font-family: "Line Awesome Free";
    content: "\f054";
    font-weight: 900;
    font-size: 12px;
    position: absolute;
    left: 8%;
    top: 30%;
}

.header-product-custom-menu ul li ul li:hover a span.caret:before {
    font-family: "Line Awesome Free";
    content: "\f053";
    font-weight: 900;
    font-size: 12px;
    position: absolute;
    left: 8%;
    top: 30%;
}


.header-product-custom-menu .navbar-collapse {
    border: 1px solid #ececec;
    background: #fff;
    padding: 0;
}

.header-product-custom-menu .custom-menu-product {
    background: #fff;
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 99;
}


.header-product-custom-menu ul li:hover > .dropdown-menu,
.header-product-custom-menu ul li:focus-within > .dropdown-menu {
    display: block;
}


.header-product-custom-menu ul li .dropdown-menu {
    position: absolute;
    top: 0;
    right: 100%;
    left: 0;
    z-index: 1000;
    float: right;
    min-width: 90%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: right;
    list-style: none;
    box-shadow: none;

}

.header-product-custom-menu ul li .dropdown-menu > li > a {
    padding: 0;
    padding: 12px 25px;
    white-space: break-spaces;
}


.header-product-custom-menu ul li span.menu-bubble-description {
    display: inline-block;
    position: absolute;
    top: -5px;
    line-height: 15px;
    color: #fff;
    padding: 0px 8px;
    font-size: 10px;
    left: 190px;
    background: #ed516c;
    font-weight: 400;
    border-radius: 45px;
 }

.header-product-custom-menu ul li ul li span.menu-bubble-description {
    left: 150px;
 }

.header-product-custom-menu ul li ul li ul li span.menu-bubble-description {
    left: 120px;
 }

.header-product-custom-menu ul li span.menu-bubble-description:after {
    position: absolute;
    bottom: -3px;
    right: 3px;
    content: '';
    width: 7px;
    height: 5px;
    border-style: solid;
    border-width: 6px 0 0 6px;
    border-color: #ed516c transparent;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

header .header-product-menu {
    padding-left: 0;
}

.custom-menu-wrapper a.title:focus-within {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}


/**
====================================================================
  Header
====================================================================
*/

#topsidebar {
    text-align: center;
    background: #f5f5f5;
    padding: 10px;
}

#topsidebar p {
    margin: 0;
}

#topsidebar button {
    padding: 0 12px;
    border-radius: 4px;
    margin-right: 10px;
}

header.theme-menu-wrapper {
    box-shadow: 20px -17px 20px 0px;
    -webkit-box-shadow: 20px -17px 20px 0px;
    -moz-box-shadow: 20px -17px 20px 0px;
}

header select.category-dropdown {
    display: none;
}

.woocommerce-product-search button {
    background: none !important;
}

.style1 h1.site-title {
    padding: 0;
    margin-bottom: 0 !important;
}

.style1 #header-main {
    margin-bottom: 10px;
    margin-top: 0;
    padding-top: 20px;
}

header button[type=submit] {
    padding: 0 !important;
}

header button[type=submit] i {
    font-size: 30px;
    color: #d6d6d6;
    margin-right: -54px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

header .header-product-search {
    text-align: right;
}

header button[type="submit"] i {
    vertical-align: bottom;
}

header .search-field {
    height: 50px;
    max-width: 550px !important;
}

header span.caret {
    display: none;
}

.style1 .top-menu-wrapper {
    width: 100%;
    float: none;
    margin-bottom: 5px;
}

header .header-woo-links {
    border-left: 2px solid #d0d0d0;
}

header .header-woo-links {
    margin-left: 0;
    padding-left: 35px;
}

header .custom-menu-wrapper {
    background: none;
    color: #000;
    border-left: 2px solid #d0d0d0;
    border-radius: 0;
    height: 35px;
    margin-top: 8px;
}

.custom-menu-wrapper a.title {
    color: #000;
    font-size: 15px !important;
    font-weight: 500;
}

.custom-menu-wrapper .navbar-toggle {
    padding: 0;
}

.header-woo-links a {
    color: #000;
}

span.cart-details label.amount {
    font-weight: 600;
}

.custom-menu-wrapper a.title>i {
    padding-left: 15px;
    padding-right: 0;
    font-size: 25px;
    vertical-align: bottom;
}

.header-product-custom-menu ul li a {
    padding: 12px 20px;
}

.header-product-custom-menu .custom-menu-product {
    width: 320px;
    margin-top: 20px;
}


/**
====================================================================
  Navigation
====================================================================
*/

.top-menu .navigation > li > a {
    color: #555;
    font-weight: 500;
}


/**
====================================================================
  Blog
====================================================================
*/

.blog aside article {
    width: 100%;
}

.archive aside li, .blog aside li, .page aside li, .single aside li {
    line-height: 1.5;
}

aside li article {
    width: 100% !important;
    padding: 0 !important;
}

aside > div:first-child {
    margin-top: 0;
}

.wp-block-search .wp-block-search__label {
    display: none;
}

.wp-block-latest-posts.wp-block-latest-posts__list li {
    list-style-type: none;
}

.recent-blog-widget .blog-post h3 {
    font-size: 18px !important;
    color: #000;
}

/**
====================================================================
  MISC
====================================================================
*/

.page-content-area {
    overflow: hidden;
}

.elementor-editor-active .page-content-area {
    overflow: unset !important;
}

footer .copyrights {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


/**
====================================================================
  Responsive Devices
====================================================================
*/


@media only screen and (max-width: 767px) {

    .style1 .header-wrapper .logo img {
        width: 80% !important;
    }

    .style1 .top-menu-wrapper {
        width: auto;
        float: left;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 480px) {

    .style1 h1.site-title, .style1 h1.site-title a,
    .style1 p.site-title, .style1 p.site-title a {
        font-size: 25px !important;
    }

    .style1 .header-wrapper .logo h1,
    .style1 .header-wrapper .logo p {
        width: 90% !important;
    }

    .style1 .header-wrapper .logo img {
        width: 80% !important;
    }
}

@media only screen and (max-width: 320px) {

    .style1 .header-wrapper .logo {
        position: relative;
        width: 100% !important;
        text-align: center;
    }

    .style1 .header-wrapper .logo img {
        width: 70% !important;
    }

    .style1 .top-menu-wrapper {
        width: auto;
        float: left;
        margin-bottom: 20px;
    }

    .top-menu-wrapper .menu-header > span {
        display: none;
    }

    .style1 h1.site-title, .style1 h1.site-title a,
    .style1 p.site-title, .style1 p.site-title a {
        font-size: 18px !important;
    }
}