/*
Theme Name: Rich Store Lite
Theme URI: https://gracethemes.com/themes/free-ecommerce-marketplace-wordpress-theme/
Author: Grace Themes
Author URI: https://gracethemes.com/
Description: Rich Store Lite is a professional, modern, clean and responsive Marketplace WordPress Theme designed for creating ecommerce website that will definitely draw more customers to your business. This theme is specially designed for product sellers, book store, multimedia, digital agency and other businesses that need a WooCommerce compatible theme for their online business website. This theme can also be used for different purposes such as corporate, business, portfolio, photography, blog, personal website and many more. With its beautiful crafted homepage layout, you can create fully functional website for your online store. Rich Store is very clean coded theme which is fast to install and easy to customize. This ecommerce theme is very flexible and comes with great features that you can use for designing your unique eCommerce website. Demo Link: https://www.gracethemes.com/demo/richstore/

Version: 2.0
License: GNU General Public License version 2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: rich-store-lite
Requires PHP:  5.6
Tested up to: 5.7
Tags:blog,E-Commerce,two-columns,right-sidebar,full-width-template,custom-colors,custom-menu,custom-header,custom-logo,featured-images,editor-style,custom-background,threaded-comments,theme-options, translation-ready

Rich Store Lite WordPress Theme has been created by Grace Themes(gracethemes.com), 2019.
Rich Store Lite WordPress Theme is released under the terms of GNU GPL
*/

body{ background-color:#fff; margin:0; padding:0;line-height:24px;font-size:16px;color:#363636; font-family: 'Roboto', sans-serif; -ms-word-wrap:break-word; word-wrap:break-word;}
*{ margin:0; padding:0; outline:none; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
img{ border:none; margin:0; padding:0; height:auto; max-width:100%;}
.wp-caption, .wp-caption-text, .sticky, .gallery-caption, .aligncenter{ margin:0; padding:0; max-width:100% !important;}
p{ margin:0; padding:0;}
a{ text-decoration:none; color:#25b7ac;}
a:hover{ color:#000;}
ol,ul{ margin:0; padding:0;}
ul li ul, ul li ul li ul, ol li ol, ol li ol li ol{ margin-left:10px;}
h1,h2,h3,h4,h5,h6{ color:#101010; font-family: 'Roboto', sans-serif; margin:0 0 20px; padding:0; line-height:1.1; font-weight:400; }
h1.entry-title{ font-weight:bold; margin-bottom:35px; color:#555;}
h1{ font-size:32px;}
h2{ font-size:28px;}
h3{ font-size:24px;}
h4{ font-size:20px;}
h5{ font-size:18px;}
h6{ font-size:14px;}
.clear{ clear:both;}
.left{ float:left;}
.right{ float:right;}
.alignnone{ width:100%;}
img.alignleft, .alignleft{ float:left; margin:0 15px 0 0; padding:5px; border:1px solid #cccccc;}
img.alignright, .alignright{ float:right; margin:0 0 0 15px; padding:5px; border:1px solid #cccccc;}
.aligncenter, img.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; margin-top:0;  height:auto;}
figcaption,figure{	display: block;}
figure {margin: 1em 0;}
blockquote{ background-color:#f2f2f2; border-left:5px solid #ccc; padding:15px 15px 15px 40px; color:#999; font-size:15px; line-height:1.5; margin-bottom:30px;}
blockquote p{ margin-bottom:0 !important;}
hr {-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;	height: 0;overflow: visible;}
.textwidget select{ width:100%;}
table{ width:100%}
a{	background-color: transparent;	-webkit-text-decoration-skip: objects;}
.postmeta{padding:0 0 18px; color:#888; display:inline-block; }
.postmeta a{color:#999;}
.postmeta a:hover{color:#e74c3c;}
.breadcrumbs{padding:10px 0; margin-bottom:0;}
a:active,
a:hover {outline-width: 0;}
b, strong {	font-weight: inherit;font-weight:blod;}
pre { background: #eee;	font-size: 14px;font-size: 0.9375rem;	line-height: 1.4;	margin-bottom: 1.6em;	max-width: 100%;overflow: auto;	padding:20px;}
iframe{max-width:100%;}


/* = Lists style CSS
--------------------------------------------------------------*/
ul, ol {margin:0;	padding: 0;}
ul {list-style: inside none disc;}
ol {list-style: decimal;}

ul li, ol li {margin-bottom: 0;	margin-left: 1.5em;}
dt {font-weight: 700;}
dd {margin: 0 1.5em 1.5em;}
audio:not([controls]) {	display: none;	height: 0;}
svg:not(:root) {overflow: hidden;}

#comment-nav-above .nav-previous, #comment-nav-below .nav-previous{ float:none !important; margin:10px 0;}
nav.pagination .page-numbers{ background-color:#ccc; padding:10px 15px; font-size:15px; font-weight:600; color:#444;}
nav.pagination { clear:both;}
nav.pagination .page-numbers.current{background-color:#efc62c;}
ol.comment-list li{ list-style:none; margin-bottom:5px;}

.button{  border:1px solid #404040; color:#404040; padding:10px 30px; display:inline-block; border-radius:25px; -moz-border-radius:25px; -webkit-border-radius:25px; -o-border-radius:25px; -ms-border-radius:25px; }
.button:hover{ border:1px solid #25b7ac; color:#25b7ac; }

/* = layout style
-------------------------------------------------------------- */
#sitelayout_options{ margin:0 auto;}
.topstrip{ background-color:#101010; color:#fff;}
.container{ width:1170px; margin:0 auto; position:relative;}
.site-header{width:100%; z-index:9999; box-sizing:border-box; position: relative; background-color:#ffffff !important; }
.site-header.siteinner{ position:relative; box-shadow:0 2px 10px #eee }
.boxlayout{ width:1210px; margin:0 auto; background-color:#fff; position:relative; box-shadow:0 -8px 8px #111;}
.fulllayout{ width:100% !important;}
.logo {	float: left; padding: 16px 0; position: relative;text-align: left;}
.logo h1 {margin: 0; font-size:42px; font-weight:300; font-family:'Oswald', sans-serif; }
.logo a, .logo p { color: #999;}
.tagline{ font-size:13px; color:#828181; display:block; letter-spacing:1px;}
.right_menupart{ float:right; text-align:right;}

/* = header menu style
-------------------------------------------------------------- */
.toggle{display: block;}
.toggle a{width:100%; color:#ffffff; background:url(images/mobile-nav.png) no-repeat right center #3e3e3e; padding:8px 10px; margin-top:5px; font-size:16px; display:none; text-align:left;}
.toggle a:hover{color:#ffffff !important;}

.sitemenubox{ padding:0; z-index:9999; }
.sitemenubox ul {margin:0; padding:0; font-family:'Roboto', sans-serif; font-size:16px; font-weight:500; }
.sitemenubox ul li{display:inline-block; position:relative; margin:0;}
.sitemenubox ul li:last-child{border-right:none;}
.sitemenubox ul li a{ padding:35px 15px; display:block; text-align:center; color:#555; }
.sitemenubox ul li ul li{ display:block; position:relative; float:none; top:1px; border-bottom:1px solid #eeeeee;}
.sitemenubox ul li ul li a{ display:block; padding-top:7px; padding-bottom:7px; position:relative; top:1px; text-align:left;  box-shadow:none; }
.sitemenubox ul li ul{display:none; z-index:9999999; position:relative; background-color:#ffffff; }
.sitemenubox ul li:hover > ul{display:block; width:200px; position:absolute; left:0; text-align:left; }
.sitemenubox ul li:hover ul li ul{display:none; position:relative;}
.sitemenubox ul li:hover ul li:hover > ul{display:block; position:absolute; left:200px; top:0;}
.sitemenubox ul li a:hover, 
.sitemenubox ul li.current-menu-item a,
.sitemenubox ul li.current-menu-parent a.parent,
.sitemenubox ul li.current-menu-item ul.sub-menu li a:hover{ color:#25b7ac;} 
.sitemenubox ul li.current-menu-item ul.sub-menu li a{ color: #fff;}

.slider_wrapper{ position:relative;}
.last_column{ clear:right; margin-right:0 !important; }

/* = Social Media icons Style
-------------------------------------------------------------- */
.infobox{ color:#fff; display:inline-block; margin-right:20px; line-height:30px; font-size:14px;}
.infobox a{ color:#fff;}
.infobox i{ margin-right:8px;}
.top_socialicons{ position:relative; display:inline-block; vertical-align:top; }
.top_socialicons a{ width:30px; height:30px; line-height:30px; text-align:center; vertical-align:middle; display:inline-block; transition:0.6s; -moz-transition:0.6s; -webkit-transition:0.6s; -o-transition:0.6s; font-size:13px; color:#fff; }
.top_socialicons br{ display:none;}

.header-cart-search{ float:right; margin-left:15px;}
.headercart{ margin:25px 0 0 0; border:solid 1px #eeeeee; padding:5px 5px 5px 10px; display:table; float:right; -webkit-border-radius:25px; -moz-border-radius:25px; border-radius:25px;}
.cart-contents:before{font-family: "Font Awesome 5 solid"; content: "\f07a"; font-size:16px; margin-top:0; font-style:normal; font-weight:400; padding-right:5px;}
.cart-contents:hover{text-decoration: none;}
.cart-contents-count{color:#ffffff; background-color:#25b7ac; padding:0; text-align:center; display:inline-table; box-sizing:border-box; width:31px; height:31px; line-height:29px; border-radius:100%;}


/* = Sidebar
-------------------------------------------------------------- */
#sidebar{ float:right; width:28%;}
#sidebar aside.widget{ padding:0; margin-bottom:30px; padding-bottom:15px;}
#sidebar h3.widget-title{ background-color:#eee; padding:15px 15px 15px 20px; margin:0 0 10px; color:#444; font-size:20px; position:relative; font-weight:600;}
#sidebar aside.widget ul{ list-style:disc; padding-left:15px; margin:0; }
#sidebar aside.widget ul li{ list-style: none; padding:7px 0 5px 0; list-style-position:inside; margin:0;border-bottom:1px solid #eee;}
#sidebar aside.widget ul li:hover{ background-color:#f9f9f9; }
#sidebar aside.widget ul li a{ padding:0; color:#3b3b3b; }
#sidebar aside.widget ul li a:hover{ color:#34c6f6;}
#sidebar aside.widget ul li:last-child{ border:none;}

#sidebar aside.widget ul li ul{ padding-left:15px; padding-top:5px; }
#sidebar aside.widget ul li ul li{ list-style:inside circle; padding:7px 0 5px 0; list-style-position:inside; margin:0;border-top:1px solid #eee; }

#sidebar aside.widget.widget_search{ padding:15px 10px;}
#sidebar .search-form input.search-field{ background-color:#fff; width:80%; padding: 12px 15px 12px 15px; box-sizing:border-box; border:1px solid #ddd; }
#sidebar .search-form input.search-submit{ background:url(images/search-icon.png) no-repeat center center #efc62c; padding: 12px 0 12px 0; font-size:0; width:19%; height:41px; float:right; border:0; border-radius:5px;}

/* = Page layout css
-------------------------------------------------------------- */
.richstore_singlepage_pagecontentbx{ width:67%; margin:0; float:left; padding:0 0 30px; box-sizing:border-box;}
.richstore_singlepage_pagecontentbx ul, .richstore_singlepage_pagecontentbx ol{ margin:0 0 20px 20px; }
.richstore_singlepage_pagecontentbx ul li, .richstore_singlepage_pagecontentbx ol li{ margin:0; }
.richstore_singlepage_pagecontentbx ul ul, .richstore_singlepage_pagecontentbx ol ol{ margin:0 0 0 30px; }
.fullwidth{ width:100% !important; float:none  !important;}
.fullwidth p{ margin-bottom:15px;}
#richstore_singlepage_panel{ padding:70px 0;}
#richstore_singlepage_panel p{ margin-bottom:30px;}

.richstore_singlepage_pagecontentbx a{ 
font-weight:bold;
text-decoration:underline;
}

.richstore_default_poststyle{ margin:0 0 40px 0;}
.richstore_default_poststyle .thumbnail_box{ width:40%; height:225px; overflow:hidden; float:left; margin:0 5% 0 0; }
.richstore_default_poststyle .thumbnail_box img{ height:auto; min-height:225px;}
.richstore_default_poststyle h3, h3.single-title{ margin-bottom:5px; font-size:18px; font-weight:bold; display:table;}
.richstore_default_poststyle h3 a{ color:#25b7ac;}
.richstore_default_poststyle h3 a:hover{ color:#000;}
.richstore_default_poststyle p{ margin-bottom:30px;}
.blog-meta{ font-style:italic; margin-bottom:8px;}
.post-date, .post-comment, .post-categories, .edit-link{ display:inline; color:#333; font-weight:600; text-transform:uppercase; letter-spacing:2px; font-size:13px; margin:0 10px 0 0;} 
.single_title{ margin-bottom:5px;}
body.single-post .richstore_default_poststyle .thumbnail_box{ margin-bottom:20px;}
.blogmore{ border:1px solid #25b7ac; padding:8px 20px; border-radius:5px; display:inline-block;}
.blogmore:hover{ border:1px solid #000;}


/* = Footer css
-------------------------------------------------------------- */
.sitefooter{ padding:0; position:relative; color:#8a8989; }
.sitefooter ul{ margin:0; padding:0; list-style:inside disc;}
.sitefooter ul li { padding:0 0 8px 0; margin:0; color:#8a8989;}
.sitefooter ul li a { color:#8a8989; }
.sitefooter ul li a:hover, .sitefooter ul li.current_page_item a { color:#25b7ac; }
.copyrightwrap{ background-color:#202020; padding:20px 0; color:#8a8989; text-align:center;}
.copyrightwrap a:hover{color:#fff;}

/* = Comment Form css
-------------------------------------------------------------- */
h1.screen-reader-text{font:400 22px/24px 'Roboto',san-serif;}
.site-nav-previous, .nav-previous{ float:left;}
.site-nav-next, .nav-next{ float:right;}
h3#reply-title{ font-size:20px;}
#comments{ margin:30px 0 0; padding:0;}
nav#nav-below{ margin-top:15px;}

/* Comment styles */
ol.commentlist{list-style:none;}
#commentform p{margin:5px 0;}
#commentform label{display:block;}
#commentform input#email, #commentform input#url, #commentform input#author, #commentform textarea, #commentform input#eazycfc_captcha{max-width:96%; border:1px #ccc solid; padding:5px 2%;}
#commentform input#submit{ background-color:#32373a; border:none; padding:12px 25px; color:#fff; display:inline-block; cursor:pointer; text-transform:uppercase; border-radius:5px;}
#commentform input#submit:hover{background:#34c6f6; border-bottom-color:#ccc; color:#fff;}
.form-allowed-tags{display:none;}
.entry-content table, .comment-body table{ border-collapse:collapse; margin:10px 0;}
.entry-content table td, .entry-content table th, .comment-body table td, .comment-body table th{padding:10px 5px; text-align:left;}
.entry-content table th, .comment-body table th{color:#676767; font:normal 18px Oswald; border-bottom:1px #888 solid;}
.entry-content table td, .comment-body table td{border-bottom:1px #ccc solid;}
.fvch-codeblock:hover .comment-form-url{display:block !important;}
.commentlist, ol.commentlist {list-style:none; box-shadow:0 0 5px #666; -moz-box-shadow:0 0 5px #666; -webkit-box-shadow:0 0 5px #666; -khtml-box-shadow:0 0 5px #666; margin:10px 0; background-color:#fff; padding:10px 0;}
.commentlist li, ol.commentlist li { list-style:none; background-image:none !important; padding:0px 15px;}
.commentlist li ol li.depth-2, .commentlist li ol li.depth-3, .commentlist li ol li.depth-4, ol.commentlist li ol li.depth-2, ol.commentlist li ol li.depth-3, ol.commentlist li ol li.depth-4 { border-bottom:none;}
.commentlist li.bypostauthor article, ol.commentlist li.bypostauthor article { background:#f9ffe1;}
.commentlist article, .commentlist li.bypostauthor li article, ol.commentlist li.bypostauthor li article { border:none !important; padding:10px; position:relative; background-color:#fff;}
.commentlist li .fn { font-weight:normal; font-size:15px; font-style:normal;}
.commentlist li.bypostauthor .fn, ol.commentlist li.bypostauthor .fn { color:#000;}
img.avatar { vertical-align:middle; position:static; display:inline-block;}
.commentlist article a time { display:block; clear:both; padding:5px 0 10px; font-size:11px; font-style:italic; }
.commentlist, ol.commentlist p { font-size:14px;}
.commentlist .reply span, ol.commentlist .reply span { display:none;}
.commentlist .reply a, ol.commentlist .reply a { display:block;	padding:10px; text-align:center; background:#f6f6f6; margin:5px 0; border:1px #ddd solid;}
.comment-author.vcard{display:inline-block; margin-right:15px;}
.comment-list ul.children li.comment{background-image:none; padding-left:5px;}

/* = Contact Form 7 css
-------------------------------------------------------------- */
.wpcf7{ margin:30px 0 0; padding:0;}
.wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"]{ width:40%; border:1px solid #cccccc; box-shadow:inset 1px 1px 2px #ccc; height:35px; padding:0 15px; color:#797979; margin-bottom:0;}
.wpcf7 textarea{width:60%; border:1px solid #cccccc; box-shadow:inset 1px 1px 2px #ccc; height:150px; color:#797979; margin-bottom:25px; font:12px arial; padding:10px; padding-right:0;}
.wpcf7 input[type="submit"]{background-color:#efc62c; width:auto; border:none; cursor:pointer; font:18px 'Roboto',san-serif; color:#ffffff; padding:10px 40px; border-radius:3px;}

/* Accessibility */
/* Text meant only for screen readers. */
.screen-reader-text {
border: 0;
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute !important;
width: 1px;
word-wrap: normal !important;
/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
background-color: #f1f1f1;
border-radius: 3px;
box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
clip: auto !important;
clip-path: none;
color: #21759b;
display: block;
font-size: 14px;
font-size: 0.875rem;
font-weight: bold;
height: auto;
left: 5px;
line-height: normal;
padding: 15px 23px 14px;
text-decoration: none;
top: 5px;
width: auto;
z-index: 100000;
/* Above WP toolbar. */
}
/* Do not show the outline on the skip link target. */
#richstore_singlepage_panel[tabindex="-1"]:focus {
outline: 0;
}

/* = WooCommerce Plugin Compatible css
-------------------------------------------------------------- */
a.added_to_cart{background:#e1472f; padding:5px; display:inline-block; color:#fff; line-height:1;}
a.added_to_cart:hover{background:#000000;}
a.button.added:before{content:'' !important;}
#bbpress-forums ul li{padding:0;}
#subscription-toggle a.subscription-toggle{padding:5px 10px; display:inline-block; color:#e1472f; margin-top:4px;}
textarea.wp-editor-area{border:1px #ccc solid;}
.woocommerce input[type=text], .woocommerce textarea{border:1px #ccc solid; padding:4px;}
form.woocommerce-ordering select{ padding:5px; color:#777777;}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ color:#ff8a00;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
h1.product_title, p.price{ margin-bottom:10px;}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ color:#ff6d84;}
.woocommerce ul.products li, #payment ul.payment_methods li{ list-style:none !important;}
.woocommerce ul.products li{ text-align:center; }
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
.woocommerce table.shop_table th, .woocommerce table.shop_table td{ border-bottom:0px !important}
.woocommerce .quantity .qty{ padding:7px; border:1px solid #ccc;}
.woocommerce-Price-amount.amount{font-size:14px !important;}
.woocommerce div.product .product_title{ padding-bottom:20px !important;}
.woocommerce div.product form.cart{ margin-top:15px !important;}
.woocommerce ul.products li.product .woocommerce-loop-product__title{ font-weight:600;}

/* = Navigation Focus CSS
-------------------------------------------- */
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
#sitelayout_options a:focus {	
outline: thin dotted #00bded;
}