
/**
====================================================================
  Products List
====================================================================
*/

.woocommerce ul.products li.product .button {
    margin-top: 10px;
}

.woocommerce ul.products li.product .price {
    display: block;
}

ul.wc-block-grid__products li.wc-block-grid__product a img {    
    border-radius: 4px;
}

ul.wc-block-grid__products li.wc-block-grid__product .wc-block-grid__product-title {
    text-align: center;
    font-size: 18px;
    color: #000;
    display: inline;
    font-weight: 400;
    float: left;
    width: 100%;
    text-align: center;
}

ul.wc-block-grid__products li.wc-block-grid__product .wc-block-grid__product-price {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-top: 10px;
}

.wc-block-grid__products .wc-block-grid__product {
    text-align: center;
    padding: 0;
    position: relative;
    width: 100%;
}

p.saved-sale {
    text-align: center;
}

.woocommerce ul.products li.product .product_type_simple:hover, 
.woocommerce-page ul.products li.product .product_type_simple:hover,
.woocommerce ul.products .button.yith-wcqv-button:hover  {
    background: #555 !important;
    color: #fff !important;
}

.woocommerce ul.products li.product .product_type_external:hover,
.woocommerce ul.products li.product .product_type_grouped:hover,
.woocommerce ul.products li.product .product_type_variable:hover,
.woocommerce-page ul.products li.product .product_type_external:hover,
.woocommerce-page ul.products li.product .product_type_grouped:hover,
.woocommerce-page ul.products li.product .product_type_variable:hover {
    background: #555 !important;
    color: #fff !important;   
}

.woocommerce ul.products li.product .button {
    display: inline-block;
}

.woocommerce ul.products li.product .product_type_external, 
.woocommerce ul.products li.product .product_type_grouped, 
.woocommerce ul.products li.product .product_type_simple, 
.woocommerce ul.products li.product .product_type_variable, 
.woocommerce-page ul.products li.product .product_type_external, 
.woocommerce-page ul.products li.product .product_type_grouped, 
.woocommerce-page ul.products li.product .product_type_simple, 
.woocommerce-page ul.products li.product .product_type_variable {
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.woocommerce ul.products li.product:hover .button.add_to_cart_button,
.woocommerce ul.products li.product:hover .button.yith-wcqv-button {
    position: relative;
    top: unset !important;
    left: unset  !important;
}

.woocommerce ul.products li.product:hover .button.product_type_variable, 
.woocommerce ul.products li.product:hover .button.product_type_external, 
.woocommerce ul.products li.product:hover .button.product_type_grouped,
.woocommerce ul.products li.product:hover .button.add_to_cart_button,
.woocommerce ul.products li.product:hover .button.yith-wcqv-button { 
    display: inline-block;
}

.woocommerce ul.products li.product:hover 
.button.product_type_external, 
.woocommerce ul.products li.product:hover .button.product_type_grouped {
    position: relative;
    top: unset !important;
    left: unset  !important;
}

/**
====================================================================
  Sale Products
====================================================================
*/


span.onsale {
    min-height: 2.236em;
    min-width: 3.236em;
    padding: .202em; 
    font-size: 1em;
    font-weight: 400;
    position: absolute;
    text-align: center;
    line-height: inherit;
    top: -.5em;
    left: -.5em;
    margin: 0;
    border-radius: 0;
    background-color: #ed516C;
    color: #fff;
    font-size: .857em;
    z-index: 9;
    
}

.wc-block-grid__product-onsale {
    min-height: 2.236em;
    min-width: 5.236em;
    background: #555;
    border: none;
    color: #fff;
    border-radius: 0;
}

.wc-block-grid__product-onsale >span {
    text-transform: none;
    font-size: 12px;
    font-weight: 400;
}

.wc-block-grid__product .wc-block-grid__product-onsale {
    position: absolute;
    top: 0;
    left: unset !important;
    right: -5px;
}


/**
====================================================================
  Blocks
===================================================================
*/

.wc-block-grid__products {
    margin: 0;
}

.tooltiptext-1, 
.tooltiptext-2, 
.tooltiptext-3,
ul.products .tooltiptext-1,
ul.products .tooltiptext-2,
ul.products .tooltiptext-3 {
    display: none;
}

.wc-block-grid__product-add-to-cart {
    text-align: center;
}

.wc-block-grid__product:hover .wc-block-grid__product-add-to-cart {
    display: block;
}

.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
    line-height: 1;
    padding: 0.8em 1em;
}


a.added_to_cart.wc-forward {
    position: absolute;
    top: -150%;
}

/**
====================================================================
  Widgets
====================================================================
*/

.archive aside .product-categories li {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 10px;
}

/**
====================================================================
  Shop Page
====================================================================
*/

.woocommerce ul.products li.product .woocommerce-loop-product__title {
    width: 100%;
    text-align: center;
}

.woocommerce ul.products li.product .price {
    float: none;
}


.woocommerce ul.products li.product .button {
    border-radius: 4px;
}

.woocommerce ul.products .button.yith-wcqv-button, 
.woocommerce ul.products .compare-button {
    color: #fff;
    height: 40px;
    font-size: 1px;
    font-weight: 400;
    padding: 0;
}

.woocommerce ul.products.columns-1 li.product .product_type_external, 
.woocommerce ul.products.columns-1 li.product .product_type_grouped, 
.woocommerce ul.products.columns-1 li.product .product_type_simple, 
.woocommerce ul.products.columns-1 li.product .product_type_variable, 
.woocommerce-page ul.products.columns-1 li.product .product_type_external, 
.woocommerce-page ul.products.columns-1 li.product .product_type_grouped, 
.woocommerce-page ul.products.columns-1 li.product .product_type_simple, 
.woocommerce-page ul.products.columns-1 li.product .product_type_variable,
.woocommerce ul.products.columns-1 .button.yith-wcqv-button, 
.woocommerce ul.products.columns-1 .compare-button {
    width: 80%;
}

.woocommerce ul.products.columns-2 li.product .product_type_external, 
.woocommerce ul.products.columns-2 li.product .product_type_grouped, 
.woocommerce ul.products.columns-2 li.product .product_type_simple, 
.woocommerce ul.products.columns-2 li.product .product_type_variable, 
.woocommerce-page ul.products.columns-2 li.product .product_type_external, 
.woocommerce-page ul.products.columns-2 li.product .product_type_grouped, 
.woocommerce-page ul.products.columns-2 li.product .product_type_simple, 
.woocommerce-page ul.products.columns-2 li.product .product_type_variable,
.woocommerce ul.products.columns-2 .button.yith-wcqv-button,
.woocommerce ul.products.columns-2 .compare-button {
    width: 55%;
}

.woocommerce ul.products.columns-3 li.product .product_type_external, 
.woocommerce ul.products.columns-3 li.product .product_type_grouped, 
.woocommerce ul.products.columns-3 li.product .product_type_simple, 
.woocommerce ul.products.columns-3 li.product .product_type_variable, 
.woocommerce-page ul.products.columns-3 li.product .product_type_external, 
.woocommerce-page ul.products.columns-3 li.product .product_type_grouped, 
.woocommerce-page ul.products.columns-3 li.product .product_type_simple, 
.woocommerce-page ul.products.columns-3 li.product .product_type_variable,
.woocommerce ul.products.columns-3 .button.yith-wcqv-button,
.woocommerce ul.products.columns-3 .compare-button {
    width: 28%;
}

.woocommerce ul.products.columns-4 li.product .product_type_external, 
.woocommerce ul.products.columns-4 li.product .product_type_grouped, 
.woocommerce ul.products.columns-4 li.product .product_type_simple, 
.woocommerce ul.products.columns-4 li.product .product_type_variable, 
.woocommerce-page ul.products.columns-4 li.product .product_type_external, 
.woocommerce-page ul.products.columns-4 li.product .product_type_grouped, 
.woocommerce-page ul.products.columns-4 li.product .product_type_simple, 
.woocommerce-page ul.products.columns-4 li.product .product_type_variable,
.woocommerce ul.products.columns-4 .button.yith-wcqv-button,
.woocommerce ul.products.columns-4 .compare-button {
    width: 60px;
}

.woocommerce ul.products.columns-5 li.product .product_type_external, 
.woocommerce ul.products.columns-5 li.product .product_type_grouped, 
.woocommerce ul.products.columns-5 li.product .product_type_simple, 
.woocommerce ul.products.columns-5 li.product .product_type_variable, 
.woocommerce-page ul.products.columns-5 li.product .product_type_external, 
.woocommerce-page ul.products.columns-5 li.product .product_type_grouped, 
.woocommerce-page ul.products.columns-5 li.product .product_type_simple, 
.woocommerce-page ul.products.columns-5 li.product .product_type_variable,
.woocommerce ul.products.columns-5 .button.yith-wcqv-button,
.woocommerce ul.products.columns-5 .compare-button {
    width: 50px;
}

.woocommerce ul.products.columns-6 li.product .product_type_external, 
.woocommerce ul.products.columns-6 li.product .product_type_grouped, 
.woocommerce ul.products.columns-6 li.product .product_type_simple, 
.woocommerce ul.products.columns-6 li.product .product_type_variable, 
.woocommerce-page ul.products.columns-6 li.product .product_type_external, 
.woocommerce-page ul.products.columns-6 li.product .product_type_grouped, 
.woocommerce-page ul.products.columns-6 li.product .product_type_simple, 
.woocommerce-page ul.products.columns-6 li.product .product_type_variable,
.woocommerce ul.products.columns-6 .button.yith-wcqv-button,
.woocommerce ul.products.columns-6 .compare-button {
    width: 50px;
}

.woocommerce ul.products li.product .button {
    color: #fff;
}

.woocommerce a.added_to_cart.wc-forward {
    position: absolute;
    top: 20%;
}

.woocommerce-cart-form button {
    color: #fff !important;
}

.list-products-section .nav-tabs > li.active > a, 
.woocommerce-Price-amount {
    font-weight: 600;
}

.wc-block-grid__product-rating .star-rating span:before, 
.wc-block-grid__product-rating .wc-block-grid__product-rating__stars span:before {
    color: #e9c443;
}

.wc-block-grid__product-rating .star-rating, 
.wc-block-grid__product-rating .wc-block-grid__product-rating__stars {
    width: 5.5em;
    font-size: 1.2em;
}

/**
====================================================================
  Sidebar
====================================================================
*/

.wc-block-product-search .wc-block-product-search__label {
    display: none;
}

.woocommerce .widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li {
    padding-bottom: 10px;
    margin-top: 10px;
}

.woocommerce aside>div:first-child {
    margin-top: 0;
}

.woocommerce aside p.saved-sale {
    font-size: 11px;
    padding-bottom: 5px;
    text-align: left;
}

.woocommerce aside .widget_shopping_cart_content .woocommerce-mini-cart__buttons {
    margin: 20px 0;
}

.woocommerce aside .widget.woocommerce.widget_shopping_cart {
    padding: 0;
}


/**
====================================================================
  Footer
====================================================================
*/

footer#footer ul li p.saved-sale {
    text-align: left;
    font-size: 10px;
}

/* Extra */

section.related.products h2 {
    color: #000;
}


/**
====================================================================
  Responsive Devices
====================================================================
*/

@media only screen and (max-width: 767px) {
    .woocommerce ul.products li.product .button.add_to_cart_button, 
    .woocommerce ul.products li.product:hover .button.add_to_cart_button,
    .woocommerce ul.products .button.yith-wcqv-button, 
    .woocommerce ul.products li.product:hover .button.yith-wcqv-button, 
    .woocommerce ul.products li.product.sale:hover .button.yith-wcqv-button {
        display: inline-block !important;
        vertical-align: inherit !important;
        position: relative !important;
        top: unset !important;
        left: unset !important;
        right: unset !important;
    }

    .woocommerce ul.products li.product .woocommerce-loop-product__title {
        padding: 0;
        margin-bottom: 10px !important;
    }

    .page .page-content-area ol, .page .page-content-area ul {
        margin: 0;
    }
}


@media only screen and (max-width: 480px) {
    .woocommerce ul.products li.product .product_type_external, 
    .woocommerce ul.products li.product .product_type_grouped, 
    .woocommerce ul.products li.product .product_type_simple, 
    .woocommerce ul.products li.product .product_type_variable, 
    .woocommerce-page ul.products li.product .product_type_external, 
    .woocommerce-page ul.products li.product .product_type_grouped, 
    .woocommerce-page ul.products li.product .product_type_simple, 
    .woocommerce-page ul.products li.product .product_type_variable {
        margin: 20px 3px 0px;
    }
}